body {
  background-color: black;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: 'Open Sans', sans-serif;  */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  padding: 2% 0;
}
/* navbar style start  */
.nav_btn_burger {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 10%;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  font-size: 18px;
}
.list__item > a {
  text-decoration: none;
  color: white;
  transition: 0.8s;
}
.list__item > a:hover {
  color: #5454d4;
  transition: 0.8s;
}
.navbar__input {
  width: 15%;
  height: 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

/* navbar style end  */

/* header style  start */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.header__block_left {
  width: 40%;
}
.header__title_left {
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  margin-top: 25%;
  margin-bottom: 0;
  margin-right: 100px;
}
.header__desk_left {
  font-size: 21px;
  line-height: 2;
}
.header__btn {
  width: 35%;
  height: 50px;
  background-color: #5454d4;
  border: none;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
  padding: 1%;
  margin-left: 8px;
}
.btn__icon {
  margin-left: 8px;
}
.header__block_right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.vector {
  position: absolute;
}

/* header style end */
/* service sryle start */
.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__item_main {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 120px 0 50px;
}
.service__list {
  display: flex;
  list-style-type: none;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.service__item {
  text-align: center;
  width: 20%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_title {
  font-size: 28px;
  font-weight: 600px;
  line-height: 38px;
  margin-bottom: 0;
}
.service__desk {
  font-weight: 400;
  color: rgba(red, green, blue, alpha);
  font-size: 20px;
  line-height: 28px;
}
#vector_1 {
  left: 650px;
  top: 144px;
}
#vector_2 {
  left: 600px;
  top: 700px;
}
#vector_3 {
  right: 76px;
  top: 200px;
}
#vector_4 {
  right: 200px;
  top: 800px;
}
/* service style end */
/* portfolio style start */
.portfolio__title {
  font-size: 58px;
  font-weight: 800;
}
.portfolio__list {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
.portfolio_item {
  background-color: #1e1e20;
  padding: 1.5%;
  border-radius: 15px;
  height: min-content;
}
.portfolio_item:nth-child(2) {
  margin-top: 90px;
}
.portfolio_item:nth-child(3) {
  margin-top: 180px;
}
.port__icon {
  margin-left: 50%;
  margin-top: 50px;
}
.port_icon_second {
  display: none;
}
/* portfolio style end */
/* info block style start */
.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.info_block__title {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 60%;
}
.info-block__btm {
  background-color: #5454d4;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  width: 17%;
  height: 60px;
  cursor: pointer;
}

/* info block style end */
/* footer style start */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.footer_logo {
  width: 132px;
  height: 42px;
}
.footer_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  font-size: 18px;
}
.footer__info {
  font-size: 16px;
}
/*footer style end */
/* burger menu start */
.burger_menu {
  display: none;
  width: 98%;
  height: min-content;
  background-color: #2c2c33;
  position: absolute;
  z-index: 1;
  right: 1%;
  left: 1%;
  top: 1%;
  border-radius: 10px;
  border: 2px solid white;
}
.burger_menu_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.brg_m_btn_close {
  width: 4%;
  height: 4%;
  margin: 4%;
  cursor: pointer;
}
.brg_m_input {
  width: 30%;
  height: 10%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.burger_m_list {
  height: 60%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.brg_m_li > a {
  text-decoration: none;
  color: white;
  transition: 0.8s;
}
.brg_m_li > a:hover {
  color: #5454d4;
  transition: 0.8s;
}
/* burger menu end */
